<nav class="navbar sticky-top navbar-expand-lg" [ngClass]="navTheme">
        <a class="logo" [routerLink]="">
                <i class="fa fa-film" aria-hidden="true"></i>
                <h4 class="ml-4">Movies</h4>
        </a>


        <div class="custom-control custom-switch">
                <input #switch type="checkbox" class="custom-control-input" id="customSwitches" (click)="changeTheme()">
                <label class="label custom-control-label" for="customSwitches">Choose theme</label>
        </div>
</nav>
<div class="container-fluid mt-4">
        <app-home></app-home>
</div>